@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Moblie */

/* header */

/* Visual */

.VisualWrap {
    width: 83.33vw;
    height: 100vh;
    background-color: #ff0000;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    animation: Tl_right .3s 0s both;
}

.VisualImgWrap img:nth-child(1),.VisualImgWrap img:nth-child(2) {
    width: 43.89vh;
    height: auto;
    position: absolute;
    top: 48.66vh; right: -12.7vw;
    animation: Tl_left .5s .3s both;
}

.VisualImgWrap img:nth-child(1) {right: -10.5vw; animation: Tl_left_s .5s .7s both;}

.VisualImgWrap img:nth-child(3), .VisualImgWrap img:nth-child(4) {
    width: 22.94vh;
    height: auto;
    position: absolute;
    top: 46.66vh; right: -21.7vw;
    animation: Tl_right_s .5s .4s both;
    z-index: -1;
}

.VisualTxt {
    color: #fff;
    margin: 16.5vh 0 0 11.67%;
    
}

.VisualTxt > #main_title {
    width: 62vw;
    max-width: 350px;
    margin-bottom: 2.4vh;
    opacity: 0;
    animation: Tl_top 0.5s .3s both;
}

#main_title .st0{fill:#FFFFFF;}
#main_title	.st1{fill:#16BE40;}

.VisualTxt > .Subtxt {
    width: 68vw;
    font-size: 1.6rem;
    line-height: 140%;
    opacity: 0;
    animation: Tl_top 0.3s .6s both;
}

.VisualBtn {
    margin: 24px 0 0 11.67%;
    opacity: 0;
    animation: Tl_top 0.3s 1s both;
    background: transparent;
    border: 1.5px solid #fff;
    color: #fff;
}


.VisualBtn:hover {
   background: #ff0;
    color: #f00;
    border: none;
    transition: 0.5s;
}


/* main */

/* Product */
#main_Product {
    overflow: hidden;
    width: 100vw;
}

#main_Product h3 {
    margin-top: 20px;
    font-size: 17vw; 
    color: #ff0000;
    text-align: center;
    opacity: 0;
}

#main_Product h3.show {animation: Tl_top 0.5s 0s both;}

.slide1 .swiper-slide {
    width: 64.8vw;
    height: 200px;
    position: relative;
    background: #fff;
    box-shadow: 1.5px 1.5px 7.5px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 150px 0 102px 0;
    padding: 92px 6vw 15px;
}

.slide1 .swiper-slide a {color: #999;}

#main_Product .slide1 {opacity: 0;}
#main_Product .slide1.show {animation: Tl_top 0.5s .3s both;}

.slide1 .swiper-slide img {
    width: 55vw;
    position: absolute;
    opacity: 0.3;
    top: -50px;
    left: 30px;
}

#Bugatti {top: -25px; left: 10px;}


.slide1 .swiper-wrapper b {font-size: 3.6vw; margin-bottom: 15px;}
.slide1 .swiper-wrapper p {line-height: 140%;}
.slide1 .Product_btn { display: none; }

.slide1 .swiper-pagination-bullet {
    background: #fff;
    border: 1px solid #f00;
    opacity: 1;
    width: 10px;
    height: 10px;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {bottom: 65px;}


/*  slide1 active  */
.slide1 .swiper-slide-active {
    width: 70.66vw;
    height: 235px;
    background: #f00;
    box-shadow: 1.5px 1.5px 7.5px rgba(255,0,0,0.5);
    z-index: 3;
}

.slide1 .swiper-slide-active a {color: #fff;}

.slide1 .swiper-slide-active b {font-size: 2rem; animation: Tl_top 0.5s 0s both;}
.slide1 .swiper-slide-active p {font-size: 1.4rem; animation: Tl_top 0.5s 0.4s both;}
.slide1 .swiper-slide-active img {
    opacity: 1;
    width: 78vw;
    left: -20px;
    animation: Tl_top 1s 0s both;
}

.slide1 .swiper-slide-active #Bugatti {top: -18vw; left: -15px;}
.slide1 .swiper-slide-active #Jay {top: -27vw;}
.slide1 .swiper-slide-active #Red {top: -30vw;}


.slide1 .swiper-slide-active .Product_btn {
    display: block;
    width: 90px;
    height: 30px;
    border-radius: 22.5px;
    margin-top: 14px;
    float: right;
    animation: Tl_top 0.5s 0.6s both;
}


.slide1 .swiper-slide-next {
    z-index: 2;
}

.slide1 .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background: #f00;
    transform: translateY(10%);
}


/* Series */

#main_Series {
    position: relative;
    height: 145vw;
    padding: 0;
    overflow: hidden;
}

.SeriesWrap {
    width: 100%;
    height: 288px;
    background: url(../img/Series_bg.png) no-repeat 43% 3% /145% auto;
    opacity: 0;
}

.SeriesWrap.show {animation: Tl_top .8s 0s both;}
.SeriesWrap.show .swiper-slide img {animation: Tl_top 0.5s .2s both;}
.SeriesWrap.show .swiper-slide .title {animation: Tl_top 0.5s .4s both;}
.SeriesWrap.show .swiper-slide svg {animation: Tl_top 0.5s .5s both;}
.SeriesWrap.show .swiper-slide button {animation: Tl_top 0.5s .6s both;}
.SeriesWrap.show .swiper-pagination {animation: Tl_top 0.5s .7s both;}

.slide2 {
    height: 145vw;
    padding: 20vw 0 0 7.5vw;
}

.slide2 .swiper-wrapper {position:relative;}

.slide2 .swiper-slide {width: 100vw;}

.slide2 .swiper-slide img {
    width: 65.2vw;
    border: 0.5rem solid #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 0 #fff, 5px 5px 0 #000;
}

.slide2 .swiper-slide .title {
    position: absolute;
    font-size: 15.7vw;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0,0,0,1), 
        -2px -2px 0px rgba(0,0,0,1), 
        -2px 2px 0px rgba(0,0,0,1), 
        2px -2px 0px rgba(0,0,0,1),
        2px 1px 0px rgba(0,0,0,1), 
        -2px -1px 0px rgba(0,0,0,1), 
        -2px 1px 0px rgba(0,0,0,1), 
        2px -1px 0px rgba(0,0,0,1),
        5px -2px 0 #f00,
        5px 2px 0 #f00,
        5px -1px 0 #f00,
        5px 1px 0 #f00;
    top: 55.13vw; left: 18.2vw;
    z-index: 1;
    line-height: 105%;
}

#Series_Number {
    position: absolute;
    width: 33.6vw;
    fill: rgba(255,0,0,1);
    stroke: #ff0000;
    stroke-width: 1.5;
    stroke-linecap:round;
    stroke-linejoin:round;
    top: 43.83vw; left: 50.33vw;
}

.slide2 .swiper-slide button {
    position: absolute;
    top: 110vw; left: 19.2vw;
    background: #f00;
    color: #ffdb00;
}

.slide2 .swiper-slide button:hover {
    background: #f00;
    color: #ffdb00;
}

/* active */
.slide2 .swiper-slide-active  { animation: Tl_left 0.5s 0.2s both;}
.slide2 .swiper-slide-active #Series_Number {animation: fill 0.8s 0.5s both;}
.slide2 .swiper-pagination {
    top: 90vw;
    left: -33.5vw;
}


.slide2 .swiper-pagination-bullet {
    width: 1.8vw;
    height: 38px;
    border: 1.5px solid #000;
    border-radius: 0%;
    background: #fff;
    opacity: 1;
    vertical-align: top;
}
.slide2 .swiper-pagination-bullet-active {
    width: 1.8vw;
    height: 46px;
    border: 1.5px solid #000;
    border-radius: 0%;
    background: #f00;
}

.swiper-container-horizontal>.swiper-pagination-bullets
.swiper-pagination-bullet {margin: 0 2.5px;}


/* NewProducts */

#main_NewProduct {
    overflow: hidden;
    padding: 10.85vw 0 15px;
}

.NewProductBg {
    width: 66.67vw;
    float: right;
    position: relative;
    
}

.NewProductBg.show #NProduct_Bg {animation: opcitiy 0.6s .7s both;}
.NewProductBg.show #NProduct_Bg1 {animation: Tl_left 0.6s 0.1s both;}
.NewProductBg.show #NProduct_Bg2 {animation: Tl_right_s 0.2s ease-out 0.3s both;}
.NewProductBg.show #NProduct_Bg3 {animation: Tl_right_s 0.3s ease-out 0.6s both;}
.NewProductBg.show #NProduct_Bg4 {animation: Tl_right_s 0.2s ease-out 0.4s both;}


#NProduct_Bg {
    width: 59.46vw;
    fill: rgba(255,0,0,0.05);
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
}

#NProduct_Bg1 {
    width: 33.33vw;
    position: absolute;
    top: -10.66vw; right: -9.06vw;
    opacity: 0;
}

#NProduct_Bg1 .st0{fill:#E02329;}
#NProduct_Bg1 .st1{fill:#FED000;}
#NProduct_Bg1 .st2{fill:#00A0E9;}
#NProduct_Bg1 .st3{fill:#00B53E;}
#NProduct_Bg1 .st4{fill:#FF0000;}


#NProduct_Bg2, #NProduct_Bg3, #NProduct_Bg4 {width: 7.46vw; position: absolute;  opacity: 0;}

#NProduct_Bg2 {
    fill: #f00;
    top: -3.6vw; right: 20.35vw;
    z-index: -1;
}

#NProduct_Bg3 {
    fill:#00A0E9;
    top: 0.86vw; left: 27.45vw;
}

#NProduct_Bg4 {
    fill:#00B53E;
    top: 4.45vw; left: 30.85vw;
    z-index: -1;
}


.NewProductWrap h3 {
    text-align: left;
    font-size: 17vw; 
    color: #ff0000;
    padding: 8.5vw 0 0 6.46vw;
    opacity: 0;
}

#main_NewProduct h3.show {animation: Tl_top 1s .5s both;}

.Deadpool, .HarryPotter {
    position: relative;
}

.Deadpool .bg_bar.show {animation: scaleX .5s .5s both; transform-origin: left;}
.HarryPotter .bg_bar.show {animation: scaleX .5s .5s both; transform-origin: right;}
.Bg_box.show {animation: Tl_top 1s .0s both;}

.NewProductWrap .bg_bar {
    width: 100%;
    height: 58.66vw;
    z-index: 1;
    position: absolute;
    top: 45.7%;
    opacity: 0;
}

.NewProductWrap .Deadpool .bg_bar {background: #f00;}
.NewProductWrap .HarryPotter .bg_bar {background: #ffdb00;}

.NewProductWrap .Bg_box {
    position: relative;
    width: 89.06vw;
    height: 124.8vw;
    margin: 10vw auto 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 1%;
    opacity: 0;
    padding: 0 6%;
}


.Deadpool .Txtwrap {
    float: right;
    text-align: right;
    padding-top: 28px;
}
.HarryPotter .Txtwrap {
    float: left;
    text-align: left;
    padding-top: 28px;
}

.NewProductWrap .title b {
    font-size: 11.46vw;
}

.NewProductWrap .title p {
    color: #f1f1f1;
    font-weight: 700;
    font-size: 6.93vw;
    margin-bottom: -18px;
}

.NewProductWrap .Txtwrap span {
    display: block;
    width: 10.1vw;
    height: 3.5px;
    margin: 18px 0;
    background: #f00; 
}

.Deadpool span {float: right;}
.HarryPotter span{float: left;}

.NewProductWrap .Subtxt {
    clear: both;
    margin-bottom: 15px;
    font-size: 3.8vw;
    line-height: 140%;
}

.NewProductWrap button {
    background: #fff;
    border: 1.5px solid #f00;
}

.NewProductWrap button:hover {
    background: #f00;
    color:#ff0;
    box-shadow: 1.5px 1.5px 5px rgba(0,0,0,0.2);
}

.NewProductWrap .Img_Bg {
    width: 58.66vw;
    height: 58.66vw;
    position: relative;
    z-index: -1;
    top: 57.06vw;
}

.NewProductWrap .Deadpool .Img_Bg { background: #f00;}
.NewProductWrap .HarryPotter .Img_Bg { left: 18.5vw; background: #ffdb00;}


.NewProductWrap .Deadpool .Img_Bg img:nth-child(1) {position: absolute; width: 61.86vw; top:-3.66vw; left: -3.33vw;}
.NewProductWrap .Deadpool .Img_Bg img:nth-child(2) {position: absolute; width: 10vw; top:38.2vw; left: 62vw;}
.NewProductWrap .Deadpool .Img_Bg img:nth-child(3) {position: absolute; width: 8vw; top:48.6vw; left: 68vw;}

.NewProductWrap .HarryPotter .Img_Bg img {position: absolute; width: 81.06vw; top:0; left: -17.33vw;}



/* keyframes */

@keyframes Tl_right {
    0% { opacity: 0; transform: translateX(-100px);}
    100% { opacity: 1; transform: translateX(0);}
}

@keyframes Tl_right_s {
    0% { opacity: 0; transform: translateX(-30px);}
    100% { opacity: 1; transform: translateX(0);}
}

@keyframes Tl_left {
    0% { opacity: 0; transform: translateX(50px);}
    100% { opacity: 1; transform: translateX(0px);}
}

@keyframes Tl_left_s {
    0% { opacity: 0; transform: translateX(20px);}
    100% { opacity: 1; transform: translateX(0px);}
}


@keyframes Tl_top {
    0% { opacity: 0; transform: translateY(20px);}
    100% { opacity: 1; transform: translateY(0);}
}


@keyframes fill {
    0% { opacity: 0; fill:rgba(255,0,0,0);}
    100% { opacity: 1; fill:rgba(255,0,0,.6);}
}

@keyframes opcitiy {
    0% { opacity: 0;}
    100% { opacity: 0.7;}
}

@keyframes scaleX {
    0% { opacity: 0; transform: scaleX(0);}
    100% { opacity: 1; transform: scaleX(1);}
}


/* Tablet */
@media screen and (min-width:768px){

/* Tablet common */    
    button {width: 200px; height: 48px; font-size: 1.6rem; cursor: pointer;}

/* visiual */

    
    .VisualImgWrap img:nth-child(3), .VisualImgWrap img:nth-child(4) {width: 22.94vh; right: -21.7vw;}
    
    
    .VisualTxt { margin-top: 18.55vh;}
    
    .VisualTxt > #main_title {
    width: 46.48vh;
    max-width: none;
    }

    .VisualTxt > .Subtxt {
        width: 56vw;
        font-size: 1.8rem;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    }

    .VisualBtn {
        margin-top: 5.85vw;
    }

     
/* Product */
    
    #main_Product h3 {margin-top: 60px;}
    
    .slide1 .swiper-slide {
    width: 64.8vw;
    height: 46.87vw;
    border-radius: 7px;
    margin: 230px 0 250px 0;
    padding: 23.43vw 5.5vw 15px;
    }
    
    .slide1 .swiper-slide img {top: -130px;}
    
    #Bugatti {top: -55px;}
    
    .slide1 .swiper-wrapper b {font-size: 5vw; margin-bottom: 2.6vw;}
    .slide1 .swiper-wrapper p {font-size: 3vw;}

    .slide1 .swiper-pagination-bullet {
        border: 2px solid #f00;
        width: 20px;
        height: 20px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom, .swiper-pagination-fraction {bottom: 170px;}
    
    /*  slide1 active  */
    .slide1 .swiper-slide-active {
        height: 53.38vw;
        box-shadow: 1.5px 1.5px 12px rgba(255,0,0,0.5);
    }

    .slide1 .swiper-slide-active #Bugatti {top: -18vw; left: -44px;}
    .slide1 .swiper-slide-active .Product_btn {
        width: 170px;
        height: 50px;
        border-radius: 27.5px;
        margin-top: 24px;
    }

    .slide1 .swiper-pagination-bullet-active {
        width: 26px;
        height: 26px;
    }
 
    
/* Series */

    #main_Series {height: 136vw;}
    
    .SeriesWrap {height: 540px;}
    .slide2 {height: 136vw; padding-top: 11vw;}
    .slide2 .swiper-slide img {
        border-radius: 5px;
        box-shadow: 4px 4px 0 #fff, 10px 10px 0 #000;
    }

    .slide2 .swiper-slide .title {
        text-shadow: 4px 4px 0px rgba(0,0,0,1), 
            -4px -4px 0px rgba(0,0,0,1), 
            -4px 4px 0px rgba(0,0,0,1), 
            4px -4px 0px rgba(0,0,0,1),
            4px 2px 0px rgba(0,0,0,1), 
            -4px -2px 0px rgba(0,0,0,1), 
            -4px 2px 0px rgba(0,0,0,1), 
            4px -2px 0px rgba(0,0,0,1),
            10px -4px 0 #f00,
            10px 4px 0 #f00,
            10px -2px 0 #f00,
            10px 2px 0 #f00;
    }


/* active */
    .slide2 .swiper-pagination {top: 81vw;}

    .slide2 .swiper-pagination-bullet {
        height: 70px;
        border: 3px solid #000;
    }
    .slide2 .swiper-pagination-bullet-active {
        height: 100px;
        border: 3px solid #000;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets
    .swiper-pagination-bullet {margin: 0 4px;}

       
/* NewProducts */
    .Deadpool .Txtwrap, .HarryPotter .Txtwrap  {padding-top: 55px;}
    .NewProductWrap .title p {margin-bottom: -5.25vw;}
    .NewProductWrap .Txtwrap span {margin: 4.68vw 0;}
    .NewProductWrap .Subtxt {margin-bottom: 3.3vw;}
 
}





/* PC */
@media screen and (min-width:960px){
    .pc {display: block;}
    .moblie {display: none;}
 
    /* visiual */
    
    .VisualWrap {width: 71.66vw; height: 100vh;}
    .VisualImgWrap img:nth-child(1),.VisualImgWrap img:nth-child(2) {
    width: 64.69vh;
    top: 22.66vh; right: -12.7vw;
    }

    .VisualImgWrap img:nth-child(1) {right: -11.5vw;}
    .VisualImgWrap img:nth-child(3) {
        width: 38vh;
        top: 20vh; right: -20vw;
    }
    
    .VisualTxt { margin-top: 26.43vh;}
    .VisualTxt > #main_title {
    width: 61.48%;
    max-width: none;
    }
    
    .VisualTxt > .Subtxt {width: 52%;}
    .VisualBtn {margin-top: 7.55vh;}
    
    
    /* main */

    /* Product */

    #main_Product h3 {
        margin-top: 30px;
        font-size: 12rem; 
    }


    .slide1{width: 1000px;}
    
    
    
    .slide1 .swiper-slide {
        width: 30vw;
        max-width: 310px;
        height: 260px;
        background: #fff;
        box-shadow: 1.5px 1.5px 7.5px rgba(0,0,0,0.1);
        margin: 170px 10px 115px;
        padding: 110px 3.2% 15px;
    }
    
    .slide1 .swiper-slide:hover {
        box-shadow: 1.5px 1.5px 15px rgba(255,0,0,0.3);
    }
    
    .slide1 .swiper-slide a {color: #111;}

    
    #main_Product .slide1.show div:nth-child(1) {animation: Tl_top 0.5s .2s both;}
    #main_Product .slide1.show div:nth-child(2) {animation: Tl_top 0.5s .4s both;}
    #main_Product .slide1.show div:nth-child(3) {animation: Tl_top 0.5s .6s both;}
    
    .slide1 .swiper-slide img {
        width: 100%;
        position: absolute;
        opacity: 1;
        top: -95px;
        left: 0;
    }

    
    .slide1 #Bugatti {top: -65px; left: 5px;}


    .slide1 .swiper-wrapper b{font-size: 2rem; margin-bottom: 15px;}
    .slide1 .swiper-wrapper p {font-size: 1.4rem;}
    .slide1 .Product_btn { display: block; }

    .slide1 .swiper-pagination-bullet {
        background: #fff;
        border: 1px solid #f00;
        opacity: 1;
        width: 10px;
        height: 10px;
    }


    .slide1 .Product_btn {
        display: block;
        width: 90px;
        height: 30px;
        border-radius: 22.5px;
        margin-top: 16px;
        float: right;
        background: transparent;
        color: #f00;
        font-size: 1.4rem;
        border: 0.7px solid #f00;
    }
    
     .slide1 .Product_btn:hover {
        background: #f00;
        color: #fff;
        border: none;
    }
    




/* Series */

    #main_Series {height: 640px;}

    .SeriesWrap {width: 100%; height: 480px;
     background: url(../img/Series_bg.png) no-repeat 43% 3% /100% auto;
    }
    .slide2 { padding: 80px 0 0 0;}
    .slide2 .swiper-slide img {width: 45%; max-width: 550px; margin-left: 10%}

    .slide2 .swiper-slide .title {
        font-size: 12rem;
        text-shadow: 3px 3px 0px rgba(0,0,0,1), 
            -3px -3px 0px rgba(0,0,0,1), 
            -3px 3px 0px rgba(0,0,0,1), 
            3px -3px 0px rgba(0,0,0,1),
            3px 2px 0px rgba(0,0,0,1), 
            -3px -2px 0px rgba(0,0,0,1), 
            -3px 2px 0px rgba(0,0,0,1), 
            3px -2px 0px rgba(0,0,0,1),
            8px -2px 0 #f00,
            8px 2px 0 #f00,
            8px -1px 0 #f00,
            8px 1px 0 #f00;
        top: 80px; left: 43.2vw;
        line-height: 103%;
    }

    #Series_Number {width: 220px; top: 3.5vw; left: 71vw;}

    .slide2 .swiper-slide button {
        top: 480px; left: 44.2vw;
        background: #fff;
        color: #f00;
        border: 1px solid #f00;
    }
    .slide2 .swiper-slide button:hover {background: #f00; color: #ffdb00;}
    
    /* active */
    .slide2 .swiper-pagination {
        top: 560px;
        left: 23vw;
    }

    .slide2 .swiper-pagination-bullet {
        width: 12px;
        height: 50px;
        border: 2px solid #000;
    }
    .slide2 .swiper-pagination-bullet-active {
        width: 12px;
        height: 60px;
        border: 2px solid #000;
    }

    
    
    /* NewProducts */

    #main_NewProduct {padding: 10.85vw 0 15px;}
    .NewProductBg {width: 60vw;}
    #NProduct_Bg {width: 50vw; top: -13px;}
    #NProduct_Bg1 {
        width: 23.93vw;
        position: absolute;
        top: -10.66vw; right: -6.06vw;
        opacity: 0;
    }

    #NProduct_Bg2, #NProduct_Bg3, #NProduct_Bg4 {width: 5.2vw;}

    #NProduct_Bg2 {top: -5.6vw; right: 15vw;}
    #NProduct_Bg3 {top: 0.86vw; left: 27.45vw;}
    #NProduct_Bg4 {top: 3.3vw; left: 30vw;}


    .NewProductWrap h3 {font-size: 12rem; padding: 2vw 0 0 10vw;}
    .NewProductWrap .bg_bar {height: 430px; top: 63px;}

    .NewProductWrap .Bg_box {
        width: 89.06vw;
        height: 550px;
        margin: 62px auto 0;
    }

    .NewProductWrap .Bg_box .Txtwrap {padding-top: 80px;}
    .NewProductWrap .title b {font-size: 8.2rem;}

    .NewProductWrap .title p {
        font-size: 5rem;
        margin-bottom: -30px;
    }

    .NewProductWrap .Txtwrap span {
        width: 75px;
        margin: 30px 0;
    }

    .NewProductWrap .Subtxt {
        margin-bottom: 40px;
        font-size: 1.6rem;
    }
    
    .NewProductWrap button {background: transparent;}

    .NewProductWrap .Img_Bg {
        width: 430px;
        height: 430px;
        top: 63px;
    }

   .NewProductWrap .HarryPotter .Img_Bg { float: right; left: 0; background: #ffdb00;}

    .NewProductWrap .Deadpool .Img_Bg img:nth-child(1) {width: 477px; top:-35px; left: -12px;}
    .NewProductWrap .Deadpool .Img_Bg img:nth-child(2) {width: 90px; top:270px; left: 510px;}
    .NewProductWrap .Deadpool .Img_Bg img:nth-child(3) {width: 60px; top:365px; left: 624px;}
    .NewProductWrap .HarryPotter .Img_Bg img {position: absolute; width: 640px; top:-30px; left: -17.33vw;}

    


}