@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Moblie */

/* Visual */

p {
    font-size: 1.6rem;
    line-height: 1.35;
    font-weight: 280;
    letter-spacing: 0.25px;
}

header {height: 700px;}

.navBtn span, .navBtn span::after, .navBtn span::before{background:#fff;}
.on .navBtn span::after,.on .navBtn span::before {background:#f00;}



.VisualWrap {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0; left: 0;
    background: url(../img/Contact/Contact_bg.jpg) no-repeat 70% 0 / cover;
    padding: 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.VisualWrap .textbox {
    width: 80%;
}

#main_title {
    width: 85%;
    margin: 0 7.5% 30px;
    fill: rgba(255,255,255,0);
    stroke: #fff;
    stroke-width: 1px;
}

#main_title .st0.fill{
    fill: rgba(255,255,255,1);
    transition: 1.7s; 
}

.VisualWrap p {
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 300;
    opacity: 0;
    animation: Tl_top 0.7s .3s both;
}


/* main */

/* container */
.container {
    padding: 60px 10%;
    width: 100%;
}


.container .title::after, .container.mail span {
    content:"";
    display: block;
    width: 100%;
    height: 2.5px;
    background: #f00;
    opacity: 0;
}

.container .title svg {
    height: 3rem;
    display: inline;
    fill: #F00;
    margin-right: 10px;
    opacity: 0;
}

/*animaition*/
.container .title.show svg {animation: Tl_top 0.6s 0s both;}
.container .title.show h3 {animation: Tl_top 0.6s .1s both;}
.container .title.show::after {animation: scaleX 1s 0s both; transform-origin: left;}
.container .textbox.show p:nth-of-type(1) {animation: Tl_top 0.5s .3s both;}
.container .textbox.show span:nth-of-type(1) {animation: scaleX 0.6s .3s both; transform-origin: left;}
.container .textbox.show p:nth-of-type(2) {animation: Tl_top 0.5s .45s both;}
.container .textbox.show span:nth-of-type(2) {animation: scaleX 0.6s .45s both; transform-origin: left;}
.container .textbox.show p:nth-of-type(3) {animation: Tl_top 0.5s .6s both;}
.container .textbox.show span:nth-of-type(3) {animation: scaleX 0.6s .6s both; transform-origin: left;}
.container .textbox.show p:nth-of-type(4) {animation: Tl_top 0.5s .75s both;}
.container .textbox.show span:nth-of-type(4) {animation: scaleX 0.6s .75s both; transform-origin: left;}
.container .textbox.show p:nth-of-type(5) {animation: Tl_top 0.5s .9s both;}
.container.notice p.show {animation: Tl_top 0.5s 0s both;}
.container.mail span.show {animation: scaleX 0.6s .4s both; transform-origin: left;}
.container.mail a:nth-child(1).show {animation: Tl_top 0.5s .5s both;}
.container.mail a:nth-child(2).show {animation: Tl_top 0.5s .65s both;}
.container.mail a:nth-child(3).show {animation: Tl_top 0.5s .7s both;}


.container .title h3 {
    font-size: 3.2rem;
    line-height: 2.5;
    display: inline-block;
    color: #f00;
    opacity: 0;
}



.container .textbox {padding: 30px 3% 0 15%;}
.container .textbox p {line-height: 1.5; opacity: 0;}
.container .textbox span {
    display: block;
    width: 40px;
    height: 1px;
    background: #f00;
    margin: 30px 0;
}

.container.notice {
    background:#f7f7f7;
    text-align: center;
}
.container.notice p { font-weight: 300; opacity: 0;}

.container.mail{background:#f00;}
.container.mail .title::after, .container.mail span {background: #fff;}

.container.mail .title svg {fill:#fff;}
.container.mail .textbox {padding-bottom: 30px;}

.container.mail .title h3, .container.mail .textbox p {color:#fff;}


.container.mail .iconbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container.mail .iconbox svg {
    width: 75px;
    fill:#fff;
}

.container.mail .iconbox a {position: relative;
    width: 75px; height: 75px; margin-top: 50px;
}
.container.mail .iconbox a svg {position: absolute;}


.container.mail .iconbox a svg.current{
    opacity: 1;
    transform:rotateY(0deg);
    transition: transform .25s ease-out,opacity .25s ease-out;
}
.container.mail .iconbox a:hover svg.current{
    opacity: 0;
    transform:rotateY(90deg);
    transition: transform .25s ease-out,opacity .25s ease-out;  
}

.container.mail .iconbox a svg.hover_icon{
    opacity: 0;
    transform:rotateY(90deg);
    transition: transform .25s ease-out,opacity .25s ease-out;
}
.container.mail .iconbox a:hover svg.hover_icon{
    opacity: 1;
    stroke:#333;
    stroke-width:2px;
    background: #f00;
    transform:rotateY(0);
    transition: transform .25s ease-out,opacity .25s ease-out;  
}

.container.mail .iconbox a:nth-child(2){ margin-left: 20px; margin-right: 20px; }

.footerWrap .imgbox {
    background: url(../img/Contact/footer_bg.jpg) no-repeat center /cover;
}



/* Tablet */
@media screen and (min-width:768px){

    /* Tablet common */    
    button {width: 200px; height: 48px; font-size: 1.6rem; cursor: pointer;}
    p {line-height: 1.45;}

    header {height: 968px;}
    .VisualWrap {height: 968px;}
    #main_title {width: 100%; margin: 0 0% 30px;}

    .VisualWrap p {font-size: 2.4rem; line-height: 1.4;}


    /* Tablet_main */
    /* Main_Promise */
    .container {padding: 80px 12%;}
    .container .title svg {height: 3.6rem}
    .container .title h3 {font-size: 3.6rem}
    .container p {font-size: 1.8rem}
    .container .textbox {padding: 50px 5% 0 10%;}
    .container.mail .textbox {padding-bottom: 50px;}
    .container.mail .iconbox svg {width: 90px;}
    .container.mail .iconbox a:nth-child(2) {margin-left: 40px; margin-right: 40px;}
    
}




/* min-width 960 */
@media screen and (min-width:960px){
        .pc {display: block;}
        .moblie {display: none;}

    header {height: 100vh;}
    
    .VisualWrap {
    background: url(../img/Contact/Contact_bg.jpg) no-repeat center / cover;
    background-attachment: fixed;
    padding: 0;
    height: 100vh;
    }

    .VisualWrap .textbox{width: 60%;}
   
    }
    .VisualWrap p {
        text-align: center;
        font-size: 2.2rem;
    }
    
    /* main */
    /* PC_Main_Promise */

    /* Footer */
    .footerWrap .imgbox {
    background: url(../img/Contact/footer_bg.jpg) no-repeat center /cover;
    background-attachment: fixed;
    
}


/* PC */
@media screen and (min-width:1025px){
        .pc {display: block;}
        .moblie {display: none;}
    
    
    header {height: 0; }
    header .headWrap {position: relative;}
    header .headWrap h1, header .headWrap button{position: fixed;}
    nav {position: fixed;}
    
    .navBtn span, .navBtn span::after, .navBtn span::before{background:#f00;}
.on .navBtn span::after,.on .navBtn span::before {background:#f00;}

    
    
    
    
    /* main */
    .Contact {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    }
    
    .VisualWrap {
    background: url(../img/Contact/Contact_bg.jpg) no-repeat center / cover;
    background-attachment: fixed;
    padding: 0;
    height: 100%;
    width: 58%;
    height: 100%;
    position: relative;
    }

    .VisualWrap .textbox{
    width: 70%;
    }
    
    #main_title {width: 80%;}
   
    
    .VisualWrap p {
        text-align: left;
        font-size: 1.8rem;
    }
    
    .warpper {
        width: 42%;
        overflow: auto;
    }
    

    /* PC wapper 스크롤바 */
    .warpper::-webkit-scrollbar {
      width: 8px;
    }

    .warpper::-webkit-scrollbar-track {
      background-color: #eee;
    }
    .warpper::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #ccc;
    }
    .warpper::-webkit-scrollbar-thumb:hover {
      background: #f0c3c3;
    }

    
    
    .warpper p {font-size: 1.6rem;}

    /* Footer */
    .footerWrap .imgbox {
    background: url(../img/Contact/footer_bg.jpg) no-repeat center /cover;
    background-attachment: fixed;
    
}
}